/* selector */
.title {
  color: red;
}

#products-box {
  color: green;
}

h3 {
  color: blueviolet;
}
#about-box .title {
  color: red;
}
#products-box .title {
  color: blue;
}
.content h2#large.title {
  color: red;
}
.content h3#small.title {
  color: green;
}
