/* 
padding: Khoảng cách giữa viền và nội dung

1. padding: value
2. padding: value1 value2
3. padding: value1 value2 value3
3. padding: value1 value2 value3 value4

Các thuộc tính mở rộng:
padding-top
padding-left
padding-right
padding-bottom

Lưu ý: 
- padding dùng đơn vị % thì sẽ tỉ lệ theo width của thành phần cha
- padding sẽ chỉ có tác dụng top bottom nếu thẻ html là block

tỷ lệ:
- 1x1: padding-top: 100%
- 4x3: padding-top: 75%
- 3x2: padding-top: 66.66%
- 8x5: padding-top: 56.25%
- 16x9: padding-top: 56.25%
- 21x9: padding-top: 42.85%

Tìm hiểu thêm về thuộc tính aspect-ratin
*/

.box {
  border: 1px solid red;
  padding: 20px;
  width: 300px;
}

.link {
  border: 1px solid rgb(0, 255, 123);
  padding: 0 30px;
  text-decoration: none;
  display: inline-block;
}

.content {
  border: 1px solid rgb(255, 127, 47);
  width: 200px;
  height: 200px;
}

.children {
  background: green;
  /* padding-top: 66.66%; */
  aspect-ratio: 16/9;
}
