/* 
Thuộc tính display: Thay đổi chế độ hiển thị của thẻ html
- none --> Ẩn thẻ html
- block --> Hiển thị dạng block
- inline --> Hiển thị dạng inline
- inline-block  --> Kết hợp inline và block

Các giá trị phức tạp:
- Flex
- inline-flex
- grid
- inline-grid
- table
- list-item

Ẩn/ hiện 1 element
- Phân biệt ấn giữ không gian và mất không gian?
- Phân biệt ẩn và làm mờ (Tàng Hình)
*/

.box {
  display: inline-block;
  border: 1px solid red;
  padding: 10px 30px;
}

.content:hover .box {
  /* display: none; */
  /* opacity: 0 */
  visibility: hidden;
}
