.header {
  background-color: #fff;
}

h4 {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.header_inner {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  max-width: 5px;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.menu_item {
  margin: 0 10px;
}

.menu_item:hover .menu_child {
  opacity: 1;
  visibility: visible;
}

.menu_child {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  display: flex;
  border: 1px solid #eee;
  border-radius: 3%;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s linear;
}

.menu_link {
  color: black;
  font-size: 20px;
  display: block;
  padding: 0 20px;
  text-decoration: none;
}

.menu_child-item {
  width: 30%;
  border-right: 1px solid #eee;
}

.menu_child-item-1 {
  width: 40%;
}

.menu_child-list > li {
  padding: 20px;
  display: inline-block;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  border-top: 1px solid #eee;
}
