* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.modal-box {
  position: fixed;
  inset: 0;
  display: none;
}
#open-modal:checked + .modal-box {
  display: block;
}
.modal-box .modal {
  width: 80%;
  margin: 30px auto;
  background: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  position: relative;
  z-index: 99;
}

.modal-box .modal .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.modal-box .overlay {
  background: #896e6e35;
  position: fixed;
  inset: 0;
}
