* {
  margin: 0;
  padding: 0;
}

/* .switch-toggle {
  width: 80px;
  height: 35px;
  display: block;
  margin: 30px auto;
  background: gray;
  border-radius: 99px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.switch-toggle .btn {
  width: 33px;
  height: 33px;
  background: #fff;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: left 0.2s ease;
}

.switch-toggle .bg {
  position: absolute;
  inset: 0;
  background: transparent;
  transition: left 0.2s ease;
}

.switch-toggle input:checked ~ .btn {
  left: calc(100%- 34px);
}

.switch-toggle input:checked ~ .bg {
  background: green;
} */

.title {
  position: relative;
  color: green;
}

.title > span {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  transition: top 0.4s ease;
  color: red;
  overflow: hidden;
}
.title > span > span {
  position: absolute;
  bottom: 0;
}

.title:hover > span {
  top: 0;
}
