@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: Roboto, sans-serif;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: #333;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  padding: 40px 0;
}

.header .header_list-row {
  display: flex;
  justify-content: space-between;
}

.header .header_list-row .menu {
  font-size: 20px;
}

.header .header_list-row .menu ul {
  display: flex;
}

.header .header_list-row .menu ul li {
  display: block;
  padding: 0 25px;
}
.header .header_list-row .search {
  display: flex;
  justify-content: space-between;
}

.header .header_list-row .search .src {
  display: flex;
  padding: 10px 30px;
  border: 0;
}
/* END HEADER */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 80px;
}

.container .row {
  display: flex;
  justify-content: center;
}

.container .row .row_content {
  width: 50%;
}

.container .row .image {
  width: 50%;
}

.row_content .row_content-one .content_list-one h3 {
  font-size: 20px;
  font-weight: 500;
  color: red;
  border-radius: 20px;
  padding: 12px 15px;
  width: fit-content;
  background-color: #fdecec;
}

.row_content .row_content-one .content_list-two h1 {
  font-size: 85px;
  padding: 20px 0;
  font-weight: 700;
}

.row_content .row_content-one .content_list-two p {
  font-size: 20px;
  color: #918e8ea7;
}

.row_content .row_content-one .content_list-three {
  padding: 80px 0;
  font-size: 18px;
  font-weight: 500;
  display: flex;
}

.row_content .row_content-one .content_list-three .list-btn {
  margin: 0 30px;
  padding: 25px 35px;
  text-align: center;
}

.row_content .row_content-one .content_list-three .list-btn:nth-child(1) {
  background-color: #f86061;
  border-radius: 15px;
}

/* END CONTAINER */

.service {
  max-width: 1500px;
  background-color: #fef5f5;
  padding: 80px;
}
.service .service_wrap {
  max-width: 1200px;
}

.service .service_wrap .service_wrap-header {
  text-align: center;
}

.service .service_wrap .service_wrap-header h4 {
  font-size: 20px;
  font-weight: 500;
  color: #f86061;
}

.service .service_wrap .service_wrap-header h2 {
  padding: 20px 0px;
  font-size: 50px;
  max-width: 50%;
  margin: 0 auto;
}

.service .service_wrap .service_wrap-content {
  display: flex;
  justify-content: space-between;
  padding: ;
}

.service .service_wrap .service_wrap-content .wrap-content-row {
  border: 1px solid #a69b9b;
  margin: 25px;
  border-radius: 15px;
  width: 350px;
  height: 300px;
  background-color: #fff;
  text-align: center;
  padding: 40px 20px;
}

.service .service_wrap .service_wrap-content .wrap-content-row .row-icon {
  font-size: 70px;
  color: #f86061;
}

.service .service_wrap .service_wrap-content .wrap-content-row h3 {
  padding: 15px 0;
  font-size: 20px;
}

.service .service_wrap .service_wrap-content .wrap-content-row p {
  color: #a69b9b;
  padding: 10px 0;
}

/* ------------END Service */

.reason {
  max-width: 1500px;
  margin: 0 auto;
  padding: 80px;
}

.reason .reason_container {
  max-width: 1450px;
  display: flex;
  justify-content: center;
}

.reason .reason_container .container-image {
  width: 50%;
}

.reason .reason_container .container-content {
  width: 50%;
}

.reason .reason_container .container-content h4 {
  padding: 70px 0 0 0;
  font-size: 20px;
  font-weight: 500;
  color: rgb(35, 225, 35);
}

.reason .reason_container .container-content h2 {
  padding: 20px 0;
  font-size: 40px;
  max-width: 80%;
  font-weight: 700;
}

.reason .reason_container .container-content p {
  padding: 10px 0;
  color: #a69b9b;
}

.reason .reason_container .container-content button {
  padding: 20px 50px;
  margin: 30px 0;
  color: #fff;
  background-color: #f86061;
  font-weight: 700;
  font-size: 18px;
  border-radius: 12px;
}

.reason .reason_container .container-content button:hover {
  background-color: #fff;
  color: #f86061;
  transition: all 0.3s linear;
  cursor: pointer;
}

/* ----------------- END REASON */

.delivered {
  max-width: 1500px;
  margin: 0 auto;
  padding: 80px;
}

.delivered .delivered_container {
  max-width: 1450px;
  display: flex;
  justify-content: center;
  margin: 70px 0;
}

.delivered .delivered_container .container-image {
  margin-left: 40px;
}

.delivered .delivered_container .container-image {
  width: 50%;
}

.delivered .delivered_container .container-content {
  width: 50%;
}

.delivered .delivered_container .container-content h4 {
  padding: 70px 0 0 0;
  font-size: 20px;
  font-weight: 500;
  color: rgb(224, 122, 27);
}

.delivered .delivered_container .container-content h2 {
  padding: 20px 0;
  font-size: 40px;
  max-width: 80%;
  font-weight: 700;
}

.delivered .delivered_container .container-content p {
  padding: 10px 0;
  color: #a69b9b;
}

.delivered .delivered_container .container-content button {
  padding: 20px 50px;
  margin: 30px 0;
  color: #fff;
  background-color: #f86061;
  font-weight: 700;
  font-size: 18px;
  border-radius: 12px;
}

.delivered .delivered_container .container-content button:hover {
  background-color: #fff;
  color: #f86061;
  transition: all 0.3s linear;
  cursor: pointer;
}

/* -----------END DELIVERED */
.app {
  max-width: 1500px;
  margin: 0 auto;
  padding: 80px;
  background-color: #fef5f5;
}

.app .app_container {
  max-width: 1450px;
  display: flex;
  justify-content: center;
}

.app .app_container .container-image {
  width: auto;
  margin: 0 auto;
}

.app .app_container .container-content {
  width: 50%;
}

.app .app_container .container-content h4 {
  padding: 70px 0 0 0;
  font-size: 20px;
  font-weight: 500;
  color: #f86061;
}

.app .app_container .container-content h2 {
  padding: 20px 0;
  font-size: 40px;
  max-width: 80%;
  font-weight: 700;
}

.app .app_container .container-content p {
  padding: 10px 0;
  color: #a69b9b;
}

.app .app_container .container-content button {
  padding: 25px 45px;
  margin: 50px 15px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 12px;
  background-color: #fef5f5;
  border: 1px solid #a6a4a4;
}
.app .app_container .container-content button i {
  font-size: 30px;
  color: #f86061;
}

.app .app_container .container-content button:hover {
  background-color: #fff;
  color: #f86061;
  transition: all 0.3s linear;
  cursor: pointer;
}
/* ------------ END APP */

.info_container {
  max-width: 1500px;
  padding: 100px;
  display: flex;
}

.info_container .container_one .container_one-content {
  padding: 20px 0;
  max-width: 50%;
  line-height: 25px;
  color: #a69b9b;
}

.info_container .container_two {
  display: flex;
  justify-content: space-between;
}

.info_container .container_two .container_two-content {
  margin: 0 100px;
}

.info_container .container_two .container_two-content h4 {
  font-size: 20px;
  font-weight: 700;
}

.info_container .container_two .container_two-content li {
  padding: 15px 0;
  color: #a69b9b;
  line-height: 25px;
}
