* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2,
p {
  padding: 10px 10px;
}

a {
  text-decoration: none;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 4px 20px;
  background: #eee;
  color: black;
  border-radius: 200px;
  transition: all 0.3s ease-in-out;
}

.container {
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.milestones {
  width: 50%;
  border: 1px solid #fff;
  padding: 20px 20px;
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
}

.event {
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.dot-bar {
  width: 30px;
  height: 13px;
  background: red;
  border-radius: 50px;
  position: relative;
  margin: 0 10px;
}

.dot-bar::after {
  content: "";
  top: 140%;
  left: 42%;
  width: 1px;
  height: 120px;
  position: absolute;
  background-color: aqua;
}

.event_date {
  display: flex;
  margin: 0 5px;
}
a:hover {
  background-color: rgb(68, 42, 42);
  color: #fff;
}

.picture .pic-1 {
  position: relative;
  left: 50%;
}

.picture .pic-2 {
  position: absolute;
  left: 45%;
  top: 50%;
}

.picture .pic-2::before {
  content: "";
  left: 5%;
  position: absolute;
  background-color: rgb(37, 40, 205);
  width: 240px;
  height: 180px;
  top: 5%;
  opacity: 0.98;
}

.picture .pic-2::after {
  content: "+76";
  font-size: 70px;
  left: 45%;
  position: absolute;
  color: #fff;
  width: 30px;
  height: 30px;
  top: 30%;
  opacity: 0.9;
}
