.first {
  text-align: left;
}

.second {
  text-align: right;
}
body {
  font-family: "Times New Roman", Times, serif;
  background-color: beige;
  width: 100%;
}

.heading {
  margin-top: 1px;
  position: relative;
}

.heading::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 2%;
  bottom: -5px;
  width: 50px;
  height: 3px;
  background-color: brown;
}

.container {
  background-color: salmon;
  width: 460px;
  padding: 90px;
}
